
header{
    justify-content: space-evenly;
    background-color:rgb(245, 233, 212);
    padding:0;
    height: 100px;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 20px;
    text-transform: uppercase;

}


ul{
 list-style:none;
 float:right;
 padding-right:60px;
}
li{
    display: inline-block;
    padding-right:40px;
    padding-top:40px;   
}

.logo{
    padding-left: 20px;
    padding-top:0px;
 
 }
 .navbar a{
     outline: none;
     text-decoration: none;
     color:black;
 }
 .navbar a:hover{
     color:rgb(153, 125, 35);
     text-decoration: none;
     
 }

h2{
    font-family: 'Anek Devanagari', sans-serif;

}
p{display:flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Anek Devanagari', sans-serif;
    font-size: 21px;
   
}

.description{
    padding-bottom:60px;
    background:rgb(11,23,44);
    color:rgb(238, 230, 217);
    width:750px;
    display: inline-block;
    margin-left:1000px;
    vertical-align: bottom;

}
.description h2{
    padding-top:60px;
    padding-left:60px;
    padding-bottom:30px;
}
.description p{
    padding-left:60px;
    padding-right:60px;
}
.project-1{
    width:800px;
    background-color:rgb(222 182 54);
    display:inline-block;
}
.image-1{
    padding:100px;
    display: inline-block;
    vertical-align: middle;
}
.image-2{
    padding:100px;
}
.image-3{
    padding:100px;
}
.image-4{
    padding:100px;
}
.image-5{
    padding:100px;
}
.image-6{
    padding:100px;
}
.image-7{
    padding:100px;
}
.image-8{
    padding:100px;
}

figcaption{
text-align: left;
padding-top: 30px;
font-family: 'Anek Devanagari', sans-serif;
font-size: 19px;

}

.footer{
    background-color:black;
    height:50px;
    text-align: center;
}

.footer p{
    align-items: center;
    text-align: center;
    padding:10px;
    align-content: center;
    font-size: 14px;
    color:gray;
}